body{
  background-color: rgb(252, 245, 174);
}

label{
  font-size: 18px;
  font-weight: 600;
}

i{
  /* font-size: 40px; */
}
/* Login.js Signup.js */

.formAuth{
  background-color: rgb(237, 227, 191);
  padding: 6px;
  margin-bottom: 10px;
}

.formInput{
 margin: 0 auto;
}

/* SearchBy.js */

.searchCont{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 30px 0px;
}
 #searchBar{
  border: 1px solid black;
  border-radius: 7%;
  width: 25%;
  margin-right: 10px;
  padding: 5px;
 }


 .pageHeading{
  color: rgb(32, 22, 240);
  font-weight: 700;
 }
 .navText{
  cursor: pointer;
  font-weight: 600;
  font-size: 23px;
 }

 .articleText{
  font-size: 19px;
  color: black;
  font-weight: 400;
 }

 .buttonLink > {
  text-decoration: none;
  color: white;
 }
 /* .aText{
  min-height: 300px;
  border: 1px solid black;
 } */

 .buttonSt{
  font-size: 18px;
  font-weight: 600;
 }

 .myCard{
  background-color: rgb(253, 255 ,129);
 }

 .cardTitle{
  color: red;
  font-size: 28px;
  font-weight: 700;
 }

 .cardText{
  color: black;
  font-size: 16px;
  font-weight: 500;
  min-height: 120px;
 }

 .authName{
  font-size: 20px;
  font-weight: 600;
 }

 .likeIcon{
  cursor: pointer;
  font-size: 33px;
 }

 .likeText{
  font-size: 30px;
  font-weight: 600;
  margin-left: 7px;
 }
 
 /* .footer{
position: fixed;
  position: sticky;
   bottom: 0;
   width: 100%;
   background-color: black;
   font-size: 20px;
   color: white;
   text-align: center;
   padding: 15px 0px;
   font-weight: 600;
 } */